{{#ui-sidebar class="ui left inverted vertical menu sidebar"}}
  {{#each model as |search|}}
    <a {{action 'transitionToSaved' search}} class="item">
      {{search.name}}
    </a>  
  {{/each}}
{{/ui-sidebar}}

<div class="ui pusher large masthead">
  {{outlet}}
</div>
