{{#ui-sidebar class="ui left inverted vertical menu sidebar"}}
	<a style="pointer-events: none;" class="header item">
		Your Saved Searches
	</a>
  {{#each model.searches as |search|}}
    <a {{action 'transitionToSaved' search}} class="item">
      {{search.name}}
    </a>  
  {{/each}}
{{/ui-sidebar}}

<div class="ui pusher large masthead">
  {{outlet}}
</div>
{{partial "save-search"}}